@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-primary: white;
  --color-secondary: #2ee728;
  --color-light: #ffffff;
  --color-light-opacity: #ffffff7a;
  --color-dark: #000000;
  --color-dark-opacity: #000000;
  --color-light-gray: rgba(0, 0, 0, 0.7);
  --padding-default: 36px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}

a { 
  color: inherit; 
} 

body h1 {
  font-size: clamp(8px, 8vw, 16px);
}

body h2 {
  font-size: clamp(40px, 8vw, 80px);
}

body h3 {
  font-size: clamp(40px, 8vw, 80px);
}

body h4 {
  font-size: clamp(20px, 8vw, 40px);
}

body h5 {
  font-size: clamp(20px, 8vw, 30px);
}

body h6 {
  font-size: clamp(10px, 8vw, 15px);
}

p {
  font-size: 19px;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Roboto", sans-serif;
}

.background-dark {
  background-color: var(--color-dark);
}

.background-light {
  background-color: var(--color-light);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body Button {
  background-color: var(--buttonbg) !important;
  color: var(--foreground);
  padding: 15px 83px;
  text-transform: uppercase;
  border: 1px solid rgba(31, 31, 206, 0.836);
  position: relative;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

body button:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in;
}

.spacer-small {
  width: 100%;
  height: 1.2rem;
}

.spacer-medium {
  width: 100%;
  height: 2.8rem;
}

.spacer-large {
  width: 100%;
  height: 8rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-around;
}

.flex-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeHero {
  background-image: var(--img-background);
  background-size: cover;
  min-height: calc(97vh - 60px);
}

.Contact-bg {
  background-image: var(--img-background);
  background-size: cover;
  min-height: calc(110vh - 60px);
}

.theme-bg {
  background:var(--background);
}
.theme-bg-top {
  background: var(--theme-bg-top);
}
.theme-bg-bottom {
  background: var(--theme-bg-bottom);
}

.white-bg {
  background-color: #fff;
}

.HomeHero-socials {
  position: absolute;
  top: 11%;
  transform: translateY(-50%);
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  padding: 0.3rem;
}

.HeroSocial  {
  padding: 10.4px;
}

.main-Container {
  margin: 0 154px;
  padding: 0 150px;
}

.section-Content {
  margin: 0px 150px;
}

.heroContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 80vh;
}

.design-heading {
  height: 5px;
  width: 3rem;
  background: rgba(31, 31, 206, 0.836);
  left: 50%;
  border-radius: 5px;
}

.About-Section {
  padding: 124px 0px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-box {
  flex: 1;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 1px 10px;
    padding: 0px;
    overflow: hidden;
    list-style: none;
}

.skills-list li:before {
  content: "\25B8";
  margin-right: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px 80px;
}

.project-container {
  position: relative;
}

.image-container {
  width: 456px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
}


.image-container::before {
  content: attr(data-title);
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  background-color: rgba(59, 56, 56, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: 0;
  transition: opacity 0.5s;
}

.project-container:hover .overlay {
  opacity: 1;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-weight: 900;
  font-size: 29px;
}

.text-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}



.footer-section {
    padding: 30px 0px 20px 0px;
    margin: 0px 150px;
}

.social-links {
  display: flex;
  gap: 10px;
  
}

.border-top {
  border-top: 1px solid rgba(128, 128, 128, 0.603);
}




/* NAVBAR*/

.nav-options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

header a {
  padding: 20px 31px;
  display: inline-block;
  font-size: 18px;
  color: var(--foreground);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;

}

.mobile-menu {
  display: none;
}

/* MOBILE VIEW */
@media screen and (max-width: 1300px) {
  .section-Content {
    margin: 0px;
    padding: 124px 25px;
  }
  .grid-container {
    gap: 10px 10px;
}
}



@media screen and (max-width: 980px) {
  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 11px;
    
}

  .nav-options.active {
    opacity: 1;
    transition: all 0.9s ease;
    display: flex;
  }

  .nav-options {
    width: 100%;
    position: absolute;
    top: 75px;
    border-radius: 7px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style: none;
    align-content: center;
    display: none;
    background-color: var(--background);
  }

  header a {
    padding: 15px;
  }

  .main-Container {
    margin: 0px;
    padding: 0px;
  }
  
  .section-Content {
    margin: 0px;
    padding: 124px 15px;
  }

  .flex-wrap {
    flex-direction: column;
  }

  .HomeHero-socials{
    display: none;
  }

}

@media screen and (max-width: 770px) {
  .grid-container {
      grid-template-columns: 1fr;
      gap: 11px;
      
  }
  .grid-container a {
      height: 62vw;
  }
  .grid-container a:hover > small {
      display: none !important;
  }   
  .main-Container {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
    padding: 60px 0px 20px 0px;
    margin: 0px 10px;
    align-content: center;
}
.project-container {
  
}

.About-Section {
  
}
.mobile-card {
  
  }
  .image-container {
    width: 350px;
  }
}