:root {
    --background: white;
    --foreground: #000;
    --img-background: linear-gradient(
        to right,
        rgba(245, 245, 245, 0.616),
        rgba(245, 245, 245, 0.616)
      ),
      url("/image/hexagonbg.jpg");
    --button-bg: #fff;
    
  }
  
  [data-theme='dark'] {
    --background: #202123;
    --foreground: white;
    --img-background: linear-gradient(
        to right,
        #202123b6,
        #202123b6
      ),
      url("/image/hexagonbg.jpg");
      --buttonbg: #202123;
      --theme-bg-bottom: linear-gradient(to top, rgba(138, 134, 134, 0.89), #202123c2);
      --theme-bg-top: linear-gradient(to bottom, rgba(138, 134, 134, 0.89), #202123da);
  }

