[data-theme="light"]  {
  --background: white;
  --foreground: #000;
  --img-background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.363),
      rgba(245, 245, 245, 0.363)
    ),
    url("/image/hexagonbg.jpg");
  --button-bg: #fff;
  --p-color: #666;
  --p-header: #555;
  --p-card: #000;
}

[data-theme="dark"] {
  --background: #202123;
  --foreground: white;
  --img-background: linear-gradient(to right, #202123b6, #202123b6),
    url("/image/hexagonbg.jpg");
  --buttonbg: #202123;
  --theme-bg-bottom: linear-gradient(to top, rgb(83, 81, 81), #202123c2);
  --theme-bg-top: linear-gradient(to bottom, rgba(75, 73, 73, 0.89), #202123da);
  --p-color: #fff;
  --p-header: #fff;
  --p-card: #fff;
}
